/* Colors */
/* Green #7A9392
Grey #626366
Tan #EDE9E3
Brown #AE6E1C */

/* Fonts */
/* font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; */
/* font-family: 'Dancing Script', cursive; */

html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color:#ede9e3;
}