.favorites-header {
    padding: 3rem 0 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #EDE9E3;
}

.favorites-header-border {
    border: 1px solid black;
    border-left: none;
    padding: 1.5rem 0;
    width: 62vw;
}

.favorites-header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #626366;
    color: white;
    padding: 1.5rem 0 1.5rem 3.5rem;
    font-size: 30px;
    font-weight: 100;
    width: 60vw;
    margin-bottom: 0;
    margin-right: 0.25rem;
}

.favorites-header-container h1 {
    font-size: 2rem;
    margin-right: 1rem;
    margin-bottom: 0;
}

.fav-link {
    font-size: 1rem;
    color: white;
}
.fav-link:hover {
    color: white;
}


/* ContractorFavoritesList */
.ContractorFavoritesList {
    padding: 3rem 0;
    background-color: #EDE9E3;
}

.ContractorFavoritesList h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.ContractorFavoritesItem {
    background-color: white;
    width: 50vw;
    margin: 0 auto 2.5rem;
    padding: 0.75rem 4rem 0.5rem;
    border-left: 15px solid #AE6E1C;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.favorites-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.favorites-heading h2 {
    font-size: 2rem;
}

.favorites-heading button {
    background-color: transparent;
    border: none;
}

.ContractorFavoritesItem p {
    display: block;
    margin-bottom: 0.5rem;
}


/* Design Favorites List */
.DesignFavoritesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #EDE9E3;
    padding: 2rem 0 2rem 2rem;
}

.DesignFavoriteItem {
    width: 30vw;
    margin: 1rem 0.5rem;
}

.DesignFavoriteItem img {
    margin: 0 auto 0.5rem;
    width: 100%;
}

.DesignFavoriteItem button {
    background-color: #7A9392;
    padding: 0.25rem 0.75rem;
    display: block;
    margin: 0 auto;
    border: none;
}
