.Inspiration {
    background-color: #ede9e3;
}

.InspirationSearch {
    padding-bottom: 3rem;
}

.inspiration-header {
    margin: 2rem auto 0;
}

.inspiration-header h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #626366;
    white-space: pre-wrap;
}

.InspirationForm {
    width: 75vw;
    margin:  0 auto;
    color: #626366;
}

.InspirationForm p {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-bottom: 1.5rem;
}

.InspirationForm form {
    display: block;
    text-align: center;
}

.InspirationForm form input {
    margin-right: 1rem;
    height: 2.5rem;
    width: 60%;
    border: 1px solid #626366;
    border-radius: 5px;
    padding: 0.5rem;
}

.InspirationForm form button {
    background-color: #7A9392;
    color: white;
    border-radius: 0px;
    border: none;
    padding: 0.375rem 0.75rem;
}


.inspiration-results {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.inspiration-result-item {
    width: 30%;
    margin-bottom: 3rem;
}

.inspiration-result-item img {
    margin-bottom: 0.5rem;
    width: 100%;
}

.inspiration-result-item button {
    background-color: transparent;
    border: none;
}

.inspiration-result-item i {
    color: black;
    font-size: 1.25rem;
}


@media (max-width: 900px) {
    .inspiration-result-item {
        width: 45%;
    }
}

@media (max-width: 650px) {
    .inspiration-result-item {
        width: 90%;
    }
    .InspirationForm form input {
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
    }
}