.contact-page {
    background-color: #EDE9E3;
}

.contact-head {
    display: flex;
}

.contact-text-area {
    padding: 150px 70px 150px 50px;
    color: white;
    background-color: #626366;
    width: 60vw;
}

.contact-header1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.25rem;
}
.contact-header2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.25rem;
}

.contact-text {
    font-size: 18px;
    font-weight: 200;
    width: 95%;
}

.contact-overlap-image img {
    position: relative;
    left: -5rem;
    top: 2rem;
}


.contact-body {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}

.contact-form {
    width: 55%;
}

.contact-input {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    padding: 0.5rem;
    resize: none;
    border: 1px solid #ebebeb;
}

.contact-form button {
    background-color: #AE6E1C;
    padding: 0.45rem 0.75rem;
    border: none;
    border-radius: 5px;
}

.contact-info {
    width: 40%;
}

.contact-info h2 {
    color: rgb(98, 99, 102);
    font-family: "Open Sans",sans-serif;
    font-size: 2.25rem;
}

.contact-info p {
    color: #626366;
    display: block;
    line-height: 1.6;
}

.fa-phone, 
.fa-map-marker,
.fa-envelope-o {
    color:#7a9392;
    font-size: 1.5rem;
}


@media (max-width: 950px) {
    .contact-head {
        flex-direction: column;
    }
    .contact-text-area {
        width: 100vw;
    }
    .contact-overlap-image {
        display: none;
    }
}

@media (max-width: 850px) {
    .contact-body {
        flex-direction: column;
        align-items: center;
    }
    .contact-form {
        width: 80%;
        margin-bottom: 3rem;
    }
    .contact-info {
        width: 90%;
        text-align: center;
    }
}