.landing-page {
    background-color:#ede9e3; 
    padding-bottom: 3rem;
}

.landing-head {
    font-family: 'Open Sans', sans-serif;
    background-color: #626366;
    margin-top: 50px;
    padding: 20px 0 20px 75px;
    outline: .1em solid #626366;   
    outline-offset: 1.25em;
    width: 60%;
}

.landing-welcome h1 {
    color: white;
    font-size: 30px;
    margin:0px !important;
    font-weight: 100;
}

.landing-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 2rem 0;
    margin-top: -100px;
    opacity: 0;
    animation: 1s slidefade forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

.land-card-item {
    background-color: #7a9392;
    outline: .1em solid white;   
    outline-offset: -1em;
    margin: 2rem 1.5rem;
    padding: 3rem 1rem 1rem 1rem;
    width: 300px;
    height: 250px;
    transition: transform 0.3s linear;
}
.land-card-item:hover {
    transform: scale(1.05);
    text-decoration: none;
}

.landing-link:hover {
    text-decoration: none;
}

.land-card-item h2 {
    color: white;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.55rem;
}

.landing-link i {
    color: #7A9392;
    font-size: 2.4em;
    width: 4rem;
    display: block;
    text-align: center;
    margin: 0 auto;
    line-height: 1.6em;
    background-color: white;
    outline: .06em solid #7A9392;   
    outline-offset: -.1em;
}