/* Register and Login Page */
.Register-Page,
.Login-Page {
    padding: 3rem 0;
    box-sizing: border-box;
    background-color: #EDE9E3;
    min-height: 90vh;
}

.Register,
.Login {
    padding: 2rem;
    width: 35vw;
    margin: 0 auto 1rem;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: white;
}

.Register form,
.Login form {
    display: flex;
    flex-direction: column;
}

.Register form input,
.Login form input {
    margin-bottom: 1rem;
}

.Register form button,
.Login form button {
    margin: 0 auto 0.5rem;
    border: none;
    border-radius: 2px;
    background-color: #626366;
    color: white;
    padding: 0.25rem 0.75rem;
}

.user-access-links {
    text-align: center;
}

.user-log-msg {
    width: 90vw;
    margin: 0 auto;
    background-color: #F8D7DA;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: 0.75rem;
}

.user-log-msg p {
    text-align: center;
    display: block;
    margin: 0;
    color: #721C24
}


@media (max-width: 800px) {
    .Register,
    .Login {
        width: 55vw;
    }
}

@media (max-width: 500px) {
    .Register,
    .Login {
        width: 85vw;
    }
}