.starter-body {
  padding-bottom: 3rem;
  background-color: #ede9e3;
}

.starter-header {
  width: 40vw;
  margin: 0 auto;
  padding-top: 2rem;
}

.starter-header h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: #626366;
}

.starter-cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.starter-cards {
  padding: 20px;
  width: 200px;
  height: 200px;
  margin: 50px 20px 30px 0;
  text-align: center;
  display: block;
  cursor: pointer;
  outline: .1em solid white;   
  outline-offset: -1em;
}
.starter-cards:hover {
  cursor: pointer;
  transform:scale(1.04);
}

.starter-icon {
  color: white;
  font-size: 2.5rem;
  width: 1.6em;
  text-align: center;
  line-height: 1.6em;
  margin-top: 2rem;
}

.starter-card-text {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: .75px;
}
​​
.starter-card-title {
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 40%;
  font-family: 'Playfair Display', serif; 
}

.starter-box {
  width: 60vw;
  margin: 0 auto;
}

.main-accord {
  cursor: pointer;
}

.accord {
  border-left: 17px solid #AE6E1C !important;
  border-radius: 0px !important;
  margin-bottom: 10px;
}

.main-dropdown-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #626366;
}

.fa-sort-down {
  position: absolute;
  right: 0;
  color: #626366;
  padding: 5px;
}

.starter-box option {
  color: #626366
}