.contractor-main-section{
    background-color: #ede9e3;
} 

.contractor-main {
    display: flex;
    padding-bottom: 50px;
}

.topbox {
    width: 60%;
    background-color: #626366;
}

.contractor-text-area {
    text-align: left;
    padding: 75px 120px 50px 70px;
    color: white;
}

.contractor-header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

.contractor-text {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
}

select#term,
input#location {
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.contractor-search-btn {
    background-color: #7A9392;
    border: 1px solid white;
    color: white;
    padding: 0.25rem 0.75rem;
}

.contractor-overlap-image {
    width: 40%;
}

.contractor-overlap-image img {
    position: relative;
    width: 100%;
    left: -5rem;
    top: 2rem;
}


/* Contractor Item */
.ContractorsList {
    padding-bottom: 3rem;
}

.ContractorItem {
    background-color: white;
    width: 50vw;
    margin: 0 auto 2.5rem;
    padding: 0.75rem 4rem 0.5rem;
    border-left: 15px solid #AE6E1C;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.ContractorItem-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ContractorItem-heading h2 {
    font-size: 2rem;
}

.ContractorItem-heading button {
    background-color: transparent;
    border: none;
}

.ContractorItem .heart {
    color: lightgray;
    font-size: 1.5rem;
}

.ContractorItem p {
    display: block;
    margin-bottom: 0.5rem;
}

.ContractorItem .fa-star {
    color: #FD7E14;
}


@media (max-width: 900px) { 
    .contractor-main {
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }
    .topbox {
        width: 100%;
    }
    .contractor-text-area {
        padding: 50px;
    }
    .contractor-overlap-image {
        display: none;
    }
    .ContractorItem {
        width: 75vw;
    }
}

@media (max-width: 650px) { 
    .ContractorItem {
        width: 90vw;
    }
}