nav {
  display: flex;
  flex-direction: column;
}

.user-logs {
  background-color: #7A9392;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-user-link {
  color: white;
  border: 1px solid white;
  padding: 0.40rem 0.5rem;
  margin-right: 0.75rem;
}
.nav-user-link:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}

.navbar {
  background-color: #EDE9E3;
  box-shadow: 0 8px 6px -6px #999;
  width: 100%;
  display: flex;
  flex-direction: row;
}

a, .navbar-nav, .navbar-light {
  color: #626366;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing:  .5px;
}

a.nav-link {
  text-align: left;
  color:  #626366;
}
a.nav-link:hover {
  text-decoration: none;
  border-bottom-width: 3px;
  border-bottom-color: #7A9392;
  border-bottom-style: solid;
  padding-bottom: 1px;
  color: #626366;
}

.navbar-brand {
margin-left:40px;
}

.nav-item {
  padding-left: 30px;
}